<nav>
  <ul>
    <li><a href="/robert">Robert Downey Jr.</a></li>
    <li><a href="/emma">Emma Watson</a></li>
    <li><a href="/leo">Leonardo DiCaprio</a></li>
    <li><a href="/zendaya">Zendaya</a></li>
  </ul>
</nav>
<hr>
